{% extends "views/layouts/main.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "views/layouts/components/map.njk" import map %}

{% block pageContent %}
<nav class="govuk-header__navigation pins-header-navigation" aria-label="Menu">
    <ul class="govuk-header__navigation-list">
        <li class="govuk-header__navigation-item">
            <a href="/" class="govuk-back-link govuk-!-font-size-19">Back</a>
        </li>
    </ul>
</nav>
<div class="pins-container-wide govuk-grid-row">
    <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Case</h2>
        {{ govukSummaryList({
            rows: [
                { key: { text: "Case number" }, value: { text: caseData.caseId } },
                { key: { text: "Site address" }, value: { text: caseData.siteAddressPostcode } },
                { key: { text: "Job details" }, value: { text: caseData.jobDetails } },
                { key: { text: "Procedure" }, value: { text: caseData.caseProcedure } },
                { key: { text: "Jurisdiction" }, value: { text: caseData.jurisdiction } },
                { key: { text: "Case status" }, value: { text: caseData.caseStatus } }
            ]
        }) }}

        {{ govukSummaryList({
            rows: [
                { key: { text: "Band" }, value: { text: inspectors[0].grade } },
                { key: { text: "Case level" }, value: { text: caseData.caseLevel } },
                { key: { text: "Special circumstances" }, value: { text:caseData.specialCircumstances } },
                { key: { text: "Costs applied for" }, value: { text: caseData.appellantCostsAppliedFor } }
            ]
        }) }}

        <h2 class="govuk-heading-m">Contact details</h2>
        {{ govukSummaryList({
            rows: [
                { key: { "text": "Local planning authority (LPA)" }, "value": { "text": caseData.lpaName } },
                { key: { "text": "Agent" }, "value": { "text": caseData.agentId } },
                { key: { "text": "Appellant" }, "value": { "text":caseData.appellantId } },
                { key: { "text": "Case officer" }, "value": { "text": caseData.caseOfficerId } },
                { key: { text: "Agent phone" }, value: { text:caseData.agentPhone } },
                { key: { text: "Appellant phone" }, value: { text: caseData.appellantPhone } },
                { key: { text: "Case officer phone" }, value: { text: caseData.caseOfficerPhone } }
            ]
        }) }}
    </div>

    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Key dates</h2>
        {{ govukSummaryList({
            rows: [
                { key: { text: "Appeal start date" }, value: { text: caseData.caseStartedDate } }
            ]
        }) }}

        <h2 class="govuk-heading-m">Event Arrangements</h2>
        {{ govukSummaryList({
            rows: [
                { key: { text: "Event type" }, value: { text: caseData.appealEventType } },
                { key: { text: "Event date" }, value: { text: caseData.appealEventDate } },
                { key: { text: "Programming notes" }, value: { text: caseData.programmingNotes } },
                { key: { text: "Event status" }, value: { text: caseData.caseStatus } },
                { key: { text: "Duration" }, value: { text: caseData.appellantProcedurePreferenceDuration } },
                { key: { text: "Venue" }, value: { text: caseData.venue } }
            ]
        }) }}
        <div class="map-container">
            {{ map(apiKey, pins, inspectorPin) }}
        </div>
    </div>
</div>

{% endblock %}



