{% extends "views/layouts/main.njk" %}

{% block pageContent %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "views/layouts/components/map.njk" import map %}
{% from "views/layouts/components/map.njk" import map %}

<div class="pins-container-wide govuk-grid-row">
    <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">Case</h2>
        {{ govukSummaryList({
            rows: [
                { key: { text: "Case Number" }, value: { text: caseData.caseId } },
                { key: { text: "Site Address" }, value: { text: caseData.siteAddressPostcode } },
                { key: { text: "Job Details" }, value: { text: "" } },
                { key: { text: "Procedure" }, value: { text: caseData.caseProcedure } },
                { key: { text: "Jurisdiction" }, value: { text: "" } },
                { key: { text: "Case Status" }, value: { text: caseData.caseStatus } }
            ]
        }) }}

        {{ govukSummaryList({
            rows: [
                { key: { text: "Inspector" }, value: { text: inspectors[0].firstName + ' ' + inspectors[0].lastName } },
                { key: { text: "Band" }, value: { text: inspectors[0].grade } },
                { key: { text: "Case Level" }, value: { text: caseData.caseLevel } },
                { key: { text: "Special Circumstances" }, value: { text: "" } },
                { key: { text: "Costs Applied For" }, value: { text: "" } }
            ]
        }) }}

        <h2 class="govuk-heading-m">Contact Details</h2>
        {{ govukSummaryList({
            rows: [
                { key: { "text": "Local Planning Authority (LPA)" }, "value": { "text": caseData.lpaName } },
                { key: { "text": "Agent" }, "value": { "text": "" } },
                { key: { "text": "Appellant" }, "value": { "text": "" } },
                { key: { "text": "Case Officer" }, "value": { "text": "" } },
                { key: { "text": "EO Responsible" }, "value": { "text": "" } },
                { key: { text: "LPA Phone" }, value: { text: "" } },
                { key: { text: "Agent Phone" }, value: { text: "" } },
                { key: { text: "Appellant Phone" }, value: { text: "" } },
                { key: { text: "Case Officer Phone" }, value: { text: "" } },
                { key: { text: "EO Phone" }, value: { text: "" } }
            ]
        }) }}
    </div>

    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Key Dates</h2>
        {{ govukSummaryList({
            rows: [
                { key: { text: "Appeal Start Date" }, value: { text: "" } },
                { key: { text: "Target Date" }, value: { text: "" } },
                { key: { text: "Rosewell Target" }, value: { text: "" } },
                { key: { text: "Personal Target Date" }, value: { text: "" } }
            ]
        }) }}

        <h2 class="govuk-heading-m">Event Arrangements</h2>
        {{ govukSummaryList({
            rows: [
                { key: { text: "Event Type" }, value: { text: "" } },
                { key: { text: "Event Date" }, value: { text: "" } },
                { key: { text: "Charting Notes" }, value: { text: "" } },
                { key: { text: "Event Status" }, value: { text: "" } },
                { key: { text: "Duration" }, value: { text: "" } },
                { key: { text: "Venue" }, value: { text: "" } }
            ]
        }) }}
        <div class="map-container">
            {{ map(apiKey, pins) }}
        </div>
    </div>
</div>

{% endblock %}



