{% extends "views/layouts/case-details.njk" %}

{% block pageContent %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Case Number"
      },
      value: {
        text: caseData.caseId
      }
    }
  ]
}) }}
{% endblock %}

