{% macro map(apiKey, cases, inspectorPin) %}

<style>
    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .pins-map {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: calc(2.5 / 4 * 100%);
    }

    .pins-map__container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .pins-map__content {
        width: 100%;
        height: 100%;
    }
</style>
<div class="pins-map">
    <div class="pins-map__container">
        <div id="map" class="pins-map__content"></div>
    </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/OrdnanceSurvey/os-api-branding@0.3.1/os-api-branding.css" />
<link rel="stylesheet" href="https://js.arcgis.com/4.30/esri/themes/light/main.css">
<script {% if cspNonce %}nonce={{ cspNonce }}{% endif %} src="https://cdn.jsdelivr.net/gh/OrdnanceSurvey/os-api-branding@0.3.1/os-api-branding.js"></script>
<script {% if cspNonce %}nonce={{ cspNonce }}{% endif %} src="https://js.arcgis.com/4.30/"></script>
<script {% if cspNonce %}nonce={{ cspNonce }}{% endif %}>

    const apiKey = '{{ apiKey }}';
    const serviceUrl = 'https://api.os.uk/maps/vector/v1/vts';

    require([
        'esri/Map',
        'esri/views/MapView',
        'esri/Graphic',
        'esri/layers/VectorTileLayer',
        'esri/geometry/Point',
        'esri/config'
    ], function(Map, MapView, Graphic, VectorTileLayer, Point, esriConfig) {
        // Add the 'key' and 'srs' options to the request URL before it is sent.
        esriConfig.request.interceptors.push({
            urls: serviceUrl,
            before: function(params) {
                if (!params.requestOptions.query) {
                    params.requestOptions.query = {};
                }
                params.requestOptions.query.key = apiKey;
            }
        });

        const tileLayer = new VectorTileLayer({
            url: serviceUrl
        });

        const map = new Map({
            layers: [tileLayer]
        });

        const pins = {{ cases | dump | safe}};

        const center = pins.reduce((acc, { siteAddressLatLong: { latitude, longitude } }) => {
            acc.longitude += longitude;
            acc.latitude += latitude;
            return acc;
        }, {longitude: 0, latitude: 0});

        center.longitude /= pins.length;
        center.latitude /= pins.length;

        const view = new MapView({
            container: 'map',
            map: map,
            zoom: 3,
            center: new Point(center),
            constraints: {
                minZoom: 2,
                maxZoom: 15,
                rotationEnabled: false
            }
        });

        function addMarker(caseData, color) {
            const point = {
                type: 'point',
                ... caseData.siteAddressLatLong
            };
            const simpleMarkerSymbol = {
                type: 'simple-marker',
                content: 'Case Info',
                color,
                outline: {
                    color: [255, 255, 255], // White
                    width: 1
                }
            };

            const markerTootltip = {
                title: `Case ID: ${caseData.caseId}`,
                content: `
                    <strong>Case Age:</strong> ${caseData.caseAge} Weeks<br>
                    <strong>LPA Name:</strong> ${caseData.lpaName}<br>
                    <strong>Case Status:</strong> ${caseData.caseStatus}<br>
                    <strong>Site Postcode:</strong> ${caseData.siteAddressPostcode}<br>
                    <strong>Case Specialism:</strong> ${caseData.caseSpecialisms}<br>
                    <strong>Appeal Type:</strong> ${caseData.appealEventType}<br>
                    <strong>Procedure:</strong> ${caseData.caseProcedure}<br>
                    <strong>Allocation Level:</strong> ${caseData.allocationLevel}<br>
                    <strong>Final Comments Date:</strong> ${caseData.finalCommentsDate}
                `
             };

            const pointGraphic = new Graphic({
                geometry: point,
                symbol: simpleMarkerSymbol,
                popupTemplate: markerTootltip
            });
            view.graphics.add(pointGraphic);
        }

        for (const caseData of pins) {
            const markerColor = `#${caseData.color}`;
            addMarker(caseData, markerColor);
        }

        function addInspectorMarker(latLong, color) {
            const point = {
                type: 'point',
                ...latLong
            };
            const simpleMarkerSymbol = {
                type: 'simple-marker',
                content: 'Case Info',
                color,
                outline: {
                    color: [255, 255, 255], // White
                    width: 1
                }
            };

            const pointGraphic = new Graphic({
                geometry: point,
                symbol: simpleMarkerSymbol
            });
            view.graphics.add(pointGraphic);
        }

        {% if inspectorPin %}
            addInspectorMarker({{ inspectorPin | dump | safe }}, [0, 255, 0]);
        {% endif %}
    });
</script>
{% endmacro %}