$font-family: arial, helvetica, sans-serif;

//Main gov styles
@use 'node_modules/govuk-frontend/dist/govuk/all' with (
	// don't use the GDS Transport font, this service is not on GOV.UK
	// https://www.gov.uk/service-manual/design/making-your-service-look-like-govuk#if-your-service-isnt-on-govuk
	$govuk-font-family: $font-family
);
@use './header';

// set font-family for any autocomplete menu items
.autocomplete__menu {
	font-family: $font-family;
}

@media (min-width: 1440px) {
	.pins-container-wide {
		max-width: 1280px;
	}
}

@media (min-width: 1800px) {
	.pins-container-wide {
		max-width: 1600px;
	}
}

.pins-white-space-pre-wrap {
	white-space: pre-wrap;
}

.filter-container {
	display: flex;
	gap: 20px;
}

.app-filter {
	flex: 1;
	background-color: #f3f2f1;
	padding: 16px;
	border: none;
	border-radius: 4px;
	margin-bottom: 20px;
}

.cases-inspectors-container {
	flex: 3;
}

.govuk-table {
	margin-top: 20px;
}

.app-filter__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: none;
	padding-bottom: 8px;
	margin-bottom: 16px;
}

.app-filter__header-title h2 {
	margin: 0;
	font-size: 1.25rem;
}

.app-filter__content {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.govuk-button {
	background-color: #00703c;
	border-color: #005a30;
}

.govuk-button:hover {
	background-color: #005a30;
	border-color: #003e20;
}

.bold-title {
	font-weight: bold;
}

.custom-filter-dropdown {
	summary {
		color: black;
		font-weight: bold;
	}
	span {
		text-decoration: none;
	}
}

.govuk-button--primary {
	margin-top: 30px;
}
